@import 'globalColor.scss';

label {
    width:50px;
    height:20px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
  }
  label:after {
    content: "";
    width:18px;
    height: 18px;
    position: absolute;
    top:1px;
    left:1px;
    background: linear-gradient(180deg,$button,$buttonHover);
    border-radius: 180px;
  }
  input {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  input:checked + label {
    background: #242424;
  }
  input:checked + label:after {
    left:49px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
  }
  label, label:after {
    transition: 0.5s
  }
  label:active:after{ 
    width: 26px; 
  }

  .background {
    width:10vw;
    height: 10vh;
    background: #fff;
    z-index: -0.1;
    position: absolute;
    transition: 0.3s;
  }
  input:checked + label + .background {
    background:#242424;
  }