.div-amogus {
    margin: 1rem;
}
.amogus-heading {
    margin: 1.2rem;
}
.card {
    border: 1rem;
}
.amogus-button {
    text-align: center;
    width: 10rem;
    height: 3.2rem;
    margin: auto;
}
.dontclick {
    text-align: center;
    color: rgba($color: #999999, $alpha: .5);
    text-transform: uppercase;
    text-decoration-line: line-through;
}